# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Виртуальное окружение
.venv/

# Отчёты и артефакты
*.html
reports/

# IDE
.vscode/
.idea/

ui-playwright-ts/node_modules/
ui-playwright-ts/playwright-report/
ui-playwright-ts/test-results/

